<%- include("partials/header") %>
<div class="container"> 
	<header class="jumbotron">
		<div class="container">
			<h1> Adopt A Pet !</h1>
			<p> Give your love to an adorable soul !</p>
			<p>
			<a class="btn btn-primary" href="/pets/new">Add a new pet</a>
			</p>
		</div>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<% pets.forEach(function(pet) { %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail" style="height: 300px;width: 200px;">
					<img src="<%= pet.image %>" style=" max-width: 100%; max-height: 100%;"> 
					<div class="caption">
						<h4> <%= pet.name %> </h4>
					</div>
				</div>
			</div>
		<% }) %>
	</div>

	
</div>
<%- include("partials/footer") %>
